GOLEM_DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/postgres"
GOLEM_SECRET_KEY="my very secret key"
GOLEM_ALGORITHM="HS256"
GOLEM_ACCESS_TOKEN_EXPIRE_MINUTES=30
GOLEM_DEFAULT_ADMIN_USERNAME="admin"
GOLEM_DEFAULT_ADMIN_PASSWORD="admin"